[report]
omit =
    */site-packages/*
    */sqlite3/*
    */sqlalchemy/*
    */click/*
    */__init__.py/*
    */site-packages/*
    *decimal.py*
    *numbers.py*
    *encodings/ascii.py*
    *amityapp/__init__.py*
    *amityapp/database/__init__.py*
    *amityapp/people/__init__.py*
    *amityapp/rooms/__init__.py*
    *amityapp/tests/__init__.py*
    *decimal.py*
    *encodings/ascii.py*
    *numbers.py*
    *sqlite3/__init__.py *
    *sqlite3/dbapi2.py*
    *click/__init__.py*
    *click/_compat.py*
    *click/_unicodefun.py*
    *click/core.py*
    *click/decorators.py*
    *crypt.py*
    *ctypes/__init__.py*
    *ctypes/_endian.py*
    *ctypes/macholib/__init__.py*
    *ctypes/macholib/dyld.py*
    *ctypes/macholib/dylib.py*
    *ctypes/macholib/framework.py*
    *ctypes/util.py*
    *encodings/idna.py*
    *fractions.py*
    *hmac.py*
    *html/__init__.py*
    *html/entities.py*
    *http/cookiejar.py*
    *mimetypes.py*
    *stringprep.py*
    *uuid.py*
    *api/v1/__init__.py*
    *instance/__init__.py*